In [4]:
import pandas as pd
import numpy as np

# read from csv file

In [5]:
df_train=pd.read_csv('train_final.csv',index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10

In [6]:
df_train.tail()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
156612,200,200,55,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
156613,55,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
156614,0,133,58,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
156615,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
156616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

# drop the last column

In [7]:
labels=df_train['784']
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

# BUILD CNN MODEL

In [8]:
np.random.seed(1212)
from keras.layers import *
from keras import optimizers
from keras.layers import Input,Dense,Flatten,Dropout
from keras.models import Sequential
from keras.layers.convolutional import Conv2D,MaxPooling2D
from keras.utils import np_utils

# convert dataframe to array

In [9]:
labels=np.array(labels)
labels

array([10, 10, 10, ..., 12, 12, 12], dtype=int64)

In [10]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

# store images in array

In [11]:
I=[]
for i in range(len(labels)):
    I.append(np.array(df_train[i:i+1]).reshape(28,28,1)

# build a model

In [12]:
np.random.seed(7)
model= Sequential()
model.add(Conv2D(30,(5,5),input_shape=(28,28,1),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(15,(3,3),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128,activation='relu'))
model.add(Dense(50,activation='relu'))
model.add(Dense(13,activation='softmax'))

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 24, 24, 30)        780
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 30)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 15)        4065
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 15)          0
_________________________________________________________________
dropout (Dropout)            (None, 5, 5, 15)          0
_________________________________________________________________
flatten (Flatten)            (None, 375)               0
_________________________________________________________________
dense (Dense)                (None, 128)               48128
_________________________________________________________________
dense_1 (Dense)              (None, 50)                6450
_________________________________________________________________
dense_2 (Dense)              (None, 13)                663
=================================================================
Total params: 60,086
Trainable params: 60,086
Non-trainable params: 0
_________________________________________________________________

# compile model

In [14]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

# fit model

In [15]:
model.fit(np.array(I), cat, shuffle=True, epochs=7)

Epoch 1/7
4895/4895 [==============================] - 177s 24ms/step - loss: 0.5312 - accuracy: 0.8707
Epoch 2/7
4895/4895 [==============================] - 117s 24ms/step - loss: 0.0807 - accuracy: 0.9773
Epoch 3/7
4895/4895 [==============================] - 118s 24ms/step - loss: 0.0562 - accuracy: 0.9839
Epoch 4/7
4895/4895 [==============================] - 111s 23ms/step - loss: 0.0452 - accuracy: 0.9876
Epoch 5/7
4895/4895 [==============================] - 112s 23ms/step - loss: 0.0366 - accuracy: 0.9898
Epoch 6/7
4895/4895 [==============================] - 113s 23ms/step - loss: 0.0348 - accuracy: 0.9907
Epoch 7/7
4895/4895 [==============================] - 109s 22ms/step - loss: 0.0341 - accuracy: 0.9914s - loss: 0.0

# evaluate model and load equation image

In [37]:
# import matplotlib.pyplot as plt
# plt.imshow(I[2000],cmap='binary')
# plt.show()
import cv2
img=cv2.imread("C:/Users/Hp/HANDWRITTEN-EQUATION-SOLVER/equation.jpg",cv2.IMREAD_GRAYSCALE)
cv2.imshow("w",img)
cv2.waitKey(0)
cv2.destroyAllWindows()
if img is not None:
    img=~img
    _,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    ctrs=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)[0]
    cnt=sorted(ctrs,key=lambda ctr:cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    rects=[]
    for c in cnt:
        x,y,w,h=cv2.boundingRect(c);
        rect=[x,y,w,h]
        rects.append(rect)
        #to remove unwanted or extra contour
    print("rects",rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:  
            #compare each rect with all other , find difference between area 
            #min difference discard th emax one
            flag=0
            if rec != r:
                if r[0]<(rec[0]+rec[2]+10) and rec[0]<(r[0]+r[2]+10) and r[1]<(rec[1]+rec[3]+10) and rec[1]>(r[1]+r[3]+10):
                    flag=1
                l.append(flag)
                      
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print("bool",bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if(bool_rect[i][j]==1):
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                            #take rect with maximum area

                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print("dump",dump_rect)
                #all final rects excluding dump
    final_rect=[i for i in rects if i not in dump_rect]
    print("final",final_rect)
    for r in final_rect:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop=thresh[y:y+h+20,x:x+w+20]
        im_resize=cv2.resize(im_crop,(28,28))
        cv2.imshow("work",im_resize)
        cv2.waitKey(0)
        cv2.destroyAllWindows()
        train_data.append(im_resize)

rects [[64, 78, 51, 240], [127, 98, 151, 168], [316, 125, 114, 169], [502, 83, 21, 185]]
bool [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
dump []
final [[64, 78, 51, 240], [127, 98, 151, 168], [316, 125, 114, 169], [502, 83, 21, 185]]

# predict

In [32]:
s=""
for i in range(0,len(train_data)):
    train_data[i]=np.array(train_data[i])
    train_data[i]=train_data[i].reshape((1,28,28,1))
    result=model.predict_classes(train_data[i])
#     print(result[0])
#     print(result)
    if(result[0]==10):
        s=s+'-'
    if(result[0]==11):
        s=s+'+'
    if(result[0]==12):
        s=s+'*'
    if(result[0]==0):
        s=s+'0'
    if(result[0]==1):
        s=s+'1'
    if(result[0]==2):
        s=s+'2'
    if(result[0]==3):
        s=s+'3'
    if(result[0]==4):
        s=s+'4' 
    if(result[0]==5):
        s=s+'5'
    if(result[0]==6):
        s=s+'6'
    if(result[0]==7):
        s=s+'7'
    if(result[0]==8):
        s=s+'8'
    if(result[0]==9):
        s=s+'9'
print(s)

12+1

In [33]:
eval(s)

13